# Telegram Bot
python-telegram-bot[ext]==21.6
python-telegram-bot[rate-limiter]==21.6

# Database ORM and adapters
SQLAlchemy==2.0.35
psycopg2-binary==2.9.10  # For PostgreSQL
alembic==1.13.3

# Yandex S3 Storage
boto3==1.35.50
botocore==1.35.50

# Cryptography
cryptography==43.0.1

# Environment variables
python-dotenv==1.0.1

# Task Scheduling
APScheduler==3.11.0

# Date/time parsing
python-dateutil==2.9.0.post0

# Timezone support
pytz==2024.2